// /* variables.css */
// :root {
//     --primary-color: #ff4b00;
//     --text-color: #ffffff;
//     --hover-color: #ff4d005a;
//     --error-color: red;
//   }
  


$primary-color: #ff4b00; 
$text-color: #ffffff;   
$hover-color: #ff4d005a;
$error-color: red
 
